:root {
    --text-color: #444;
    --hover-bg: #edeff3;
    --light-grey: #f7f7f7;
    --grey: #f2f2f2;
    --link-color: #355ba9;;
}
#logo {
    width: 21rem;
    margin: 0 auto;
    display: block;
    margin-top: 1.2em;
    margin-bottom: 2em;
}
h1 {
    font-size: 2rem;
    line-height: calc(1ex / 0.42);
    margin-top: calc(1ex / 0.42);
}
#socials {
    margin-bottom: 1.1em;
}
#socials img {
    width: 20px;
    padding-right: 0.5rem;
}
#main-links {
    margin-top: 2.6em;
    margin-bottom: 2.8em;
}
#main-links a {
    margin-right: 0.7em;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    box-shadow: inset 0 0 0 2px var(--text-color);
    text-decoration: none;
    color: var(--text-color);
    border-radius: 8px;
}
#main-links a:hover{
    background: var(--hover-bg);
}
body {
    font-size: 1rem;
    line-height: 1.4;
    max-width: 75ch;
    color: var(--text-color);
    padding: 10px 10px;
    margin: 20px auto;
    font-family: "Open Sans", sans-serif;
}
a {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
    text-decoration-thickness: 0.12em;
}
code {
    background-color: var(--light-grey);
    border: 1px solid #adadad;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    word-wrap: break-word;
    font-size: 0.9rem;
}
.inline-code {
    background-color: var(--grey);
    padding: 3px;
    border-radius: 3px;
    border: 0px;
}
